
.portofoliopage{
    .portofolio-menu{
        .menu{
            li{
                font-size: 1em;
               background-color: $main-color;
                transition: all .5s ease-out;
                 border: 1px solid $third-color;
                 cursor: pointer;
                 &:hover{
                    background-color: $third-color;
                }
            }
        }
    }
    .card{
        height: 450px;
        background: linear-gradient(to right, $third-color 50%, $main-color 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
        border: 2px solid $third-color;
        position: relative;
        &:hover{
            background-position: left bottom;
        }
        &:hover img{
            filter: grayscale(100%);
        }
        .card-body{
            height: 100%;
            z-index: 3;
           
        }
        .img-border{
            border-image-slice:5;
            border-image-width:8px;
            border-image-outset:
            0px 0px 0px 0px;
            border-image-repeat:
            round round;
            border-image-source:
            url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQh9Isx8dQcGA87PB9vP4Kh3PkHKfb-5u8VA&usqp=CAU");
            border-style:
            solid;
            overflow: hidden;
            width: 100%;
            height: 90%;
            position: relative;
        }
        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
           
            border-image-slice:5;
            border-image-width:8px;
            border-image-outset:
            0px 0px 0px 0px;
            border-image-repeat:
            round round;
            border-image-source:
            url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQh9Isx8dQcGA87PB9vP4Kh3PkHKfb-5u8VA&usqp=CAU");
            border-style:
            solid;
          
        }
    }
    a{
        text-decoration: none;
        color: $second-color;
        &:hover{
            color: $second-color;
        }
    }
}
.active-fillter{
    background-color: $third-color !important;
}